<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.api.mapper.MediaMapper">

    <resultMap id="BaseResultMap" type="com.blog.api.entity.Media">
        <id column="id" property="id"/>
        <result column="filename" property="filename"/>
        <result column="original_filename" property="originalFilename"/>
        <result column="filepath" property="filepath"/>
        <result column="mime_type" property="mimeType"/>
        <result column="size" property="size"/>
        <result column="uploader_id" property="uploaderId"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

</mapper>
